#featuressection{
    text-align: center;
    padding:1rem;
    width:90%;
    h1{
        font-size: 40px;
        text-align: center;
    }
    hr{
        width:5%;
        margin:.5rem auto;
        border: 2px solid blue;
        margin-top: 3rem;
    }
}
.cart_icon{
    position: absolute;
    display:none;
    text-decoration: none;
    color:black;
    margin-top:.8rem;
    margin-left: 12.5%;
    &:hover .cart_text{
        opacity:1;
    }
}
.cart_text{
    background-color: black;
    color:white;
    padding:.5rem;
    opacity:0;
}
.features{
    width:100%;
    //margin:0 auto;
    margin-left: 5%;
    margin-top: 2rem;
    &_image{
        position: relative;
    }
    &_list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        //margin: 0 auto;
    }
    &_item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:18%;
        list-style-type: none;
        text-decoration: none;
        margin:auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    &_container{
        display: flex;
        flex-direction: column;
        text-align: start;
        //justify-content: space-between;
        a{
            color:black;
            font-size: 20px;
            text-decoration: none;
            margin: .5rem 0 .5rem 0;
            &:hover{
                color:rgb(0, 132, 214);
            }
        }
        span{
            color:grey;
        }
        p{
            margin: .5rem 0 .5rem 0;
        }
    }
    &_strike{
        text-decoration: line-through;
        text-decoration-color: grey;
        text-decoration-thickness: 2px;
        color:grey;
    }
}